---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
---
<Layout title="About - Oficina Curumim">
    <Header />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1 class="text-3xl font-bold mb-4">About Us</h1>
        <div class="prose prose-slate lg:prose-lg">
            <p>Oficina Curumim is a non-profit organization with the mission of stimulating the use of oral and written Portuguese language, as well as valuing contact with Brazilian culture for Brazilian families in Greater Vancouver.</p>
            <p>Cultural, artistic, and social aspects of Brazilian culture are used as context for the development of proposals in the classes.</p>
        </div>
    </main>
</Layout>
